*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* style for container  */
.container{
    width: 100%;
    min-height: 100vh;
    background: rgb(99, 202, 190);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 700px;
    background-color: white;
    border: 2px solid black;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 15px;
}

.todo-app h2{
    display: flex;
    color: rgb(195, 0, 255);
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}


.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}

/* styling for input box & button */
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    /* position: relative;
    flex: 1; */
    border: none;
    outline: none;
    background: none;
    padding: 10px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #ff5945;
    color: white;
    font-style: 16px;
    cursor: pointer;
    border-radius: 40px;
}

/* styling for task list */
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

ul h1{
    font-size: 18px;
    margin-bottom: 10px;
}

li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

li:hover{
    background-color: #e0e0e0;
}

/* styling for icon */
.fa-solid{
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
}

.fa-solid:hover{
    color: #ff4500;
}

i{
    color: #007BFF;
}